<div class="container main ff-verdana">
  <div class="titulo-pagina ff-verdana">
    <h1>Editar Conta</h1>
  </div>
  <form (ngSubmit)="salvarConta()" class="form conteudo-pagina">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="txtDescricao" placeholder="Descrição" name="Descricao" [(ngModel)]="Conta.Descricao">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="diaVencimento">Dia venc.:</label>
          <input type="text" class="form-control" id="txtDiaVencimento" placeholder="Dia vencimento" name="DiaVencimento"
          (keypress)="apenasNumeros($event)" (paste)="apenasNumeros($event)" [(ngModel)]="Conta.DiaVencimento">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="tipoCconta">Tipo</label>
          <input *ngIf="Conta.Variavel" type="text" class="form-control" value="Variável" readonly>
          <input *ngIf="!Conta.Variavel" type="text" class="form-control" value="Fixa" readonly>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="CategoriaId">Categoria</label>
          <select *ngIf="Categorias$ | async as categorias" id="selCategoriaId" class="form-control" name="CategoriaId" [(ngModel)]="Conta.Categoria.Id">
            <option value="0">Selecione...</option>
            <option *ngFor="let categoria of categorias.Valor" [value]="categoria.Id">{{ categoria.Descricao }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" id="divValor">
      <div class="col-3">
        <div class="form-group">
          <label for="descricao">Valor inteiro</label>
          <input type="text" class="form-control" id="txtValorInteiro" placeholder="Valor" name="ValorInteiro"
          (keypress)="apenasNumeros($event)" (paste)="apenasNumeros($event)" [(ngModel)]="Conta.ValorInteiro">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="descricao">Valor centavos</label>
          <input type="text" class="form-control" id="txtValorCentavos" placeholder="Valor Centavos" name="ValorCentavos"
          (keypress)="apenasNumeros($event)" (paste)="apenasNumeros($event)" [(ngModel)]="Conta.ValorCentavos">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <button type="submit" id="btnSubmit" class="btn">Salvar</button>
          <button type="button" id="btnCancelar" class="btn btn-red" (click)="cancelar()">Cancelar</button>
        </div>
      </div>
  </div>
</form>
