<header class="cabecalho ff-verdana flex-center">
  <!-- <div class="botao-cabecalho link flex-center" onClick="history.go(-1)"> -->
  <div class="botao-cabecalho flex-center">
    <!-- <img src="../../../assets/img/voltar-icon.png" > -->
    <button onClick="history.go(-1)" title="Voltar" id="btnVoltar" class="btn btn-lg">
      <img src="../../../../assets/img/arrow-left-icon.png">
    </button>
  </div>
  <div class="logo link flex-center" routerLink="home">
    <img src="../../../assets/img/cabecalho_02.png" alt="Logo da aplicação Home Tools" title="Home">
  </div>
  <div class="botao-cabecalho flex-center">
    <div class="dropdown">
      <button (click)="clickMenu()" title="Menu" id="btnMenu" class="btn btn-lg">
        <img src="../../../../assets/img/menu-icon.png">
      </button>
      <!-- <a id="dropdown-btn" class="link flex-center" (click)="clickMenu()"><img src="../../../assets/img/menu-icon.png"></a> -->
      <div id="dropdown-content" class="dropdown-content">
        <a routerLink="home">Home</a>
        <a routerLink="financas">Finanças</a>
        <a routerLink="despensa">Despesa</a>
      </div>
    </div>
  </div>
</header>
