<div class="container main">
  <div class="titulo-pagina ff-verdana">
    <h1>Despesas</h1>
  </div>
  <div class="menu-painel conteudo-pagina">
    <div class="row">
      <div class="col col-flexible">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" name="Busca" id="txtBusca" (keydown.enter)="buscarDespesas()" (keydown.return)="buscarDespesas()">
          <span>
            <button title="Buscar" id="btnBuscar" class="btn" (click)="buscarDespesas()">
              <img src="../../../../assets/img/lupa-icon.png">
            </button>
          </span>
        </div>
      </div>
      <div class="col col-flexible">
        <button title="Nova Despesa" id="btnNovaDespesa" class="btn" routerLink="incluir-despesa">
          <img src="../../../../assets/img/plus-icon.png">
        </button>
      </div>
    </div>
  </div>
  <div class="conteudo-pagina div-tabela">
    <table class="table ff-verdana">
      <tr>
        <th (click)="ordenarDespesas('Acoes')" id="thAcoes" class="campo-ordenacao">
          <div class="titulo-tabela">
            <span class="nome-campo">Ações</span>
            <span class="img-ordenacao" id="imgAcoes"></span>
          </div>
        </th>
        <th (click)="ordenarDespesas('Descricao')" id="thDescricao" class="campo-ordenacao">
          <div class="titulo-tabela">
            <span class="nome-campo">Descrição</span>
            <span class="img-ordenacao" id="imgDescricao"></span>
          </div>
        </th>
        <th (click)="ordenarDespesas('Categoria')" id="thCategoria" class="campo-ordenacao">
          <div class="titulo-tabela">
            <span class="nome-campo">Categoria</span>
            <span class="img-ordenacao" id="imgCategoria"></span>
          </div>
        </th>
        <th (click)="ordenarDespesas('Valor')" id="thValor" class="campo-ordenacao">
          <div class="titulo-tabela">
            <span class="nome-campo">Valor</span>
            <span class="img-ordenacao" id="imgValor"></span>
          </div>
        </th>
        <th (click)="ordenarDespesas('Data')" id="thData" class="campo-ordenacao">
          <div class="titulo-tabela">
            <span class="nome-campo">Data</span>
            <span class="img-ordenacao" id="imgData"></span>
          </div>
        </th>
      </tr>
      <tr *ngFor="let Despesa of DadosPaginados.Itens">
        <td class="center">
          <div class="acoes">
            <span class="acoes-item">
              <button title="Editar" id="btnEditar{{Despesa.Id}}" class="btn btn-sm" routerLink="editar-despesa/{{Despesa.Id}}">
                <img src="../../../../assets/img/pencil-icon.png">
              </button>
            </span>
            <span class="acoes-item">
              <button title="Excluir" id="btnExcluir{{Despesa.Id}}" class="btn btn-sm" (click)="exibirModalExcluir(Despesa)">
                <img src="../../../../assets/img/lixeira-icon.png">
              </button>
            </span>
          </div>
        </td>
        <td>{{Despesa.Descricao}}</td>
        <td>{{Despesa.Categoria!.Descricao}}</td>
        <td class="right">{{Despesa.ValorInteiro!.toFixed()}},{{Despesa.ValorCentavos!.toFixed()}}</td>
        <td class="center">{{Despesa.DataDespesa  | date : 'shortDate'}}</td>
    </table>
  </div>
  <div class="paginador">
    <app-paginador [DadosPaginador]="DadosPaginador" (messageEvent)="receberDadosPaginador($event)"></app-paginador>
  </div>
</div>
<app-excluir-despesa [Despesa]="DespesaAcao"></app-excluir-despesa>
