.img-botao {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  align-items: center;
}

.img-botao img {
    width: 100%;
    height: 100%;
}

.texto-botao {
    font-size: 1em;
    font-weight: medium;
    text-shadow: #636363 0.05em 0.05em 0.12em;
    color: #000000;
    text-align: center;
}

.botao {
  padding: 1rem;
  margin: 0 auto;
  transition: 0.5s ease;
  width: 120px;
}

.botao:hover {
  cursor: pointer;
}

/* @media (max-width: 768px) {
  .botao {
    padding: 1rem;
    margin: 0 auto;
    transition: 0.5s ease;
    width: 80px;
  }
  .img-botao {
    height: 80px;
    width: 80px;
  }
  .texto-botao {
    font-size: 0.8em;
  }
} */
