<section class="excluir-cartao-modal ff-verdana" id="modalExcluirCartao">
  <div class="modal">
    <div class="cabecalho-modal">
      <span class="texto">Atenção</span><span class="img"><img src="../../../../assets/img/exclamacao-icon.png"></span>
    </div>
    <div class="conteudo-modal">
      <span>O cartão <strong>"{{Cartao.Nome}}"</strong> será excluido. <br /> Confirma a exclusão?</span>
    </div>
    <div class="acoes-modal">
      <button class="btn" id="btnCofirmar" title="Confirmar" (click)="excluirCartao()">Excluir</button>
      &nbsp;
      <button class="btn btn-red" id="btnCancelar" title="Cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <div class="overlay"></div>
</section>
