<div class="container main">
  <div class="titulo-pagina ff-verdana">
    <h1>Contas</h1>
  </div>
  <div class="menu-painel conteudo-pagina">
    <div class="row">
      <div class="col col-flexible">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar">
          <span>
            <button title="Buscar" id="btnBuscar" class="btn">
              <img src="../../../../assets/img/lupa-icon.png">
            </button>
          </span>
        </div>
      </div>
      <div class="col col-flexible">
        <button title="Novo" id="btnNovo" class="btn" routerLink="incluir-conta">
          <img src="../../../../assets/img/plus-icon.png">
        </button>
      </div>
    </div>
  </div>
  <div class="conteudo-pagina div-tabela">
    <table class="table ff-verdana">
      <tr>
        <th class="campo-ordenacao" (click)="ordenarContas('Acoes')" id="thAcoes">Ações<span id="imgAcoes"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Descricao')" id="thDescricao" >Descricao<span id="imgDescricao"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Categoria')" id="thCategoria">Categoria<span id="imgCategoria"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Tipo')" id="thTipo">Tipo<span id="imgTipo"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Valor')" id="thValor">Valor<span id="imgValor"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Vencimento')" id="thVencimento">Venc.<span id="imgVencimento"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('UltimoPagamento')" id="thUltimoPagamento">Ult. Pagamento<span id="imgUltPagamento"></span></th>
        <th class="campo-ordenacao" (click)="ordenarContas('Status')" id="thStatus">Status<span id="imgStatus"></span></th>
      </tr>
      <tr *ngFor="let conta of DadosPaginados.Itens">
        <td class="center">
          <button title="Editar" id="btnEditar{{conta.Id}}" class="btn btn-sm" routerLink="editar-conta/{{conta.Id}}/{{conta.Variavel ? 1 : 2}}">
            <img src="../../../../assets/img/pencil-icon.png">
          </button>
          &nbsp;
          <button title="Excluir" id="btnExcluir{{conta.Id}}" class="btn btn-sm" routerLink="excluir-conta/{{conta.Id}}/{{conta.Variavel ? 1 : 2}}">
            <img src="../../../../assets/img/lixeira-icon.png">
          </button>
        </td>
        <td>{{conta.Descricao}}</td>
        <td>{{conta.Categoria.Descricao}}</td>
        <td>
          <span *ngIf="conta.Variavel">Variável</span>
          <span *ngIf="!conta.Variavel">Fixa</span>
        </td>
        <td class="right"><span *ngIf="conta.Variavel">μ </span>{{conta.ValorInteiro}},{{conta.ValorCentavos}}</td>
        <td class="center">{{conta.DiaVencimento}}</td>
        <td class="center">{{conta.UltimoPagamento}}</td>
        <td class="center">
          <span class="img-status" *ngIf="conta.StatusId == 1"><img src="../../../../assets/img/status-verde.png"></span>
          <span class="img-status" *ngIf="conta.StatusId == 2"><img src="../../../../assets/img/status-amarelo.png"></span>
          <span class="img-status" *ngIf="conta.StatusId == 3"><img src="../../../../assets/img/status-vermelho.png"></span>
        </td>
      </tr>
    </table>
  </div>
  <div class="legenda-painel conteudo-pagina ff-verdana">
    <div class="row">
      <div class="legenda-painel-item"><strong>Status: </strong></div>
      <div class="legenda-painel-item"><span class="img-status"><img src="../../../../assets/img/status-verde.png"></span>: Paga</div>
      <div class="legenda-painel-item"><span class="img-status"><img src="../../../../assets/img/status-amarelo.png"></span>: Pendente</div>
      <div class="legenda-painel-item"><span class="img-status"><img src="../../../../assets/img/status-vermelho.png"></span>: Atrasada</div>
    </div>
    <div class="row" style="margin-bottom: 0.325rem;">
      <div class="legenda-painel-item"><strong>Valor: </strong></div>
      <div class="legenda-painel-item">μ: Valor médio dos pagamentos</div>
    </div>
  </div>
  <div class="paginador">
    <app-paginador [DadosPaginador]="DadosPaginador" (messageEvent)="receiveMessage($event)"></app-paginador>
  </div>
</div>
