<section class="excluir-contas-modal ff-verdana" id="modalExcluir">
  <div class="modal">
    <div class="cabecalho-modal">
      <span class="texto">Atenção</span><span class="img"><img src="../../../../assets/img/exclamacao-icon.png"></span>
    </div>
    <div class="conteudo-modal">
      <span>A conta <strong>"{{Conta.Descricao}}"</strong> será excluida. <br /> Confirma a exclusão?</span>
    </div>
    <div class="acoes-modal">
      <button class="btn" id="btnCofirmar" (click)="excluirConta()">Excluir</button>
      &nbsp;
      <button class="btn btn-red" id="btnCancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  <div class="overlay"></div>
</section>
